/* custom personal styles */

.btn-append {
    border-radius: 0;
    white-space: normal;
}

.input-append {
    text-align: center;
}

.btn-group button, input {
    padding: 10px 24px; /* Some padding */
    float: left; /* Float the buttons side by side */
}
.btn-group-select button {
    padding: 10px 24px; /* Some padding */
    display: block;
    text-align: center;
    width: 100%;
}
/* Clear floats (clearfix hack) */
.btn-group-select:after
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group-select button:not(:last-child) {
    border-bottom: none !important;
}
.btn-group button:not(:last-child){
    border-left: none; /* Prevent double borders */
}

.btn-full-width {
    width:100%;
}

.panel-transparency {
    background: rgba(247, 244, 244, 0.62);
    box-shadow: 0px 0px 15px lightgrey;
}

.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background: rgb(255, 255, 255, .6);
    box-shadow: 0px 0px 15px lightgrey;
    display: inline-block;
    margin:2px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .input-append {
        display: flex;
        padding: .5em 1em;
        width: 64%;
    }

    .btn-append {
        padding: .5em 1em !important;
        font-size:unset;
        margin-bottom: unset;
    }
    .dot {
        height: 70px;
        width: 70px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        background: rgb(255, 255, 255, .6);
    }
}
