<div class="landing-header" ng-controller="LandingCtrl as lc" ng-cloak>
    <div class="container">
        <div class="motto">
            <div class="container col-md-8">
                <div class="panel panel-default panel-transparency">
                    <div class="panel-heading">
                        <p ng-if="lc.mode == 'START_ANSWERING' || lc.mode == 'INIT'"><strong>Find out who knows you best! </strong> You must choose a series of questions to answer, then share it with anyone and find out how well if he/she knows about you.</p>

                        <p ng-if="lc.mode == 'DONE_ANSWERING'"><strong>You answered {{lc.noAnswered}} question(s) about yourself!</strong> Share this with someone and find out how well if he/she knows about you! Your friends' scores are always available at your Quiz Link below! </p>

                        <p ng-if="lc.mode == 'START_GUESSING'"><strong>{{lc.orginUserQuestioners.username}}</strong> has selected a few questions for you. Answer all questions and find out if you know <strong>{{lc.orginUserQuestioners.username}}</strong> well. Good Luck!

                        <p ng-if="lc.mode == 'DONE_GUESSING'">Good Job <strong>{{lc.userQuestioners.username}}</strong>! Say something to <strong>{{lc.orginUserQuestioners.username}}</strong> by leaving a comment below. Click here to check all score.</p>
                        <p >
                            <div class="row" ng-if="lc.mode == 'START_DEFINED'" style="text-align: center">
                                <div class="col-md-3">
                                    <img src="{{lc.userQuestioners.imageUrl}}" alt="Thumbnail Image" class="img-circle img-responsive" style="height: 120px;width: 120px;margin: 0 auto;">
                                </div>
                                <div class="col-md-9">
                                    <strong>{{lc.userQuestioners.title}}</strong> <br> <small>{{lc.userQuestioners.description}} </small>
                                </div>
                            </div>
                        </p>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-hide="lc.showQuestions">
                            <div class="col-md-12" style="text-align:center">
                                <div class="btn-group">
                                    <input type="text" class="input-append" ng-model="lc.userQuestioners.username" placeholder="Enter your name (e.g John)" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <button class="btn btn-outline-secondary btn-append" type="button" ng-click="lc.startAnswer(lc.userQuestioners.username)">Start!</button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="lc.showQuestions">
                            <div ng-repeat="question in lc.userQuestioners.questions | filter: {'position':'CURRENT'}">
                                <div class="row">
                                    <div class="col-md-12" style="text-align:center">
                                        <h5 ng-bind="question.desc"><hr>
                                    </div>
                                </div>
                                <hr>
                                <div class="btn-group-select">
                                    <button class="btn btn-append" type="button" ng-class="{'active':option.selected}" ng-repeat="option in question.options" ng-click="lc.selected(option, question)" ng-bind="option.desc"></button>
                                </div>
                            </div>
                            <br>
                            <div class="row" ng-show="lc.mode == 'START_ANSWERING' && !lc.display.loading">
                                <div class="col-md-1">
                                    <button class="btn btn-danger" ng-hide="lc.isLastNoSkip" ng-click="lc.skipQuestion()">Skip this question >>></button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="lc.userQuestioners.definedResult.show">
                            <p ng-bind="lc.userQuestioners.definedResult.percentage +'% - '+ lc.userQuestioners.definedResult.desc" style="text-align:center"></p>
                        </div>
                        <div class="row" ng-show="lc.display.loading && !lc.display.loaded">
                            <img src="/assets/img/loading/loading.gif" style="
                            display: block;
                            margin-left: auto;
                            margin-right: auto;">
                        </div>
                        <div class="row" ng-show="(lc.mode == 'DONE_ANSWERING' || lc.mode == 'DONE_GUESSING') && lc.display.loaded">
                            <div class="col-md-12" style="text-align:center" ng-show="lc.mode == 'DONE_ANSWERING'">
                                <p>Share this link <a id="link" href={{lc.shareLink}}>{{lc.shareLink}}</a> to your friends to know how well they know you.</p>
                            </div>
                            <div class="col-md-12" style="text-align:center" ng-show="lc.mode == 'DONE_GUESSING'">
                                    <h4 class="text-success">You know {{lc.knowPercentage}}% about {{lc.orginUserQuestioners.username}}</h4>
                                </div>
                            <br>
                            <br><br>
                            <div class="col-md-12" style="text-align:center">
                                <!-- <button class="btn btn-danger" ng-click="lc.skipQuestion()">Share on WhatsApp</button> -->
                                <div class="fb-share-button" ng-show="fbShareLink" data-href="{{fbShareLink}}"  data-layout="button" data-size="large" data-mobile-iframe="true">
                                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{encodeURIComponent(fbShareLink)}}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                                </div>
                                <!-- <button class="btn btn-danger" ng-click="lc.skipQuestion()">Share on Twitter</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-md-4">
                    <div class="panel panel-default panel-transparency">
                        <div class="panel-body">
                            <p><button class="btn btn-success btn-append btn-full-width" style="width:100%" data-toggle="collapse" href="#howToPlay" role="button" aria-expanded="false" aria-controls="howToPlay">How to Play? <i class="fa fa-chevron-right"></i></button></p>
                            <div class="collapse" id="howToPlay">
                                <div class="card card-body">
                                    <p>
                                        <small>(1) You can begin the quiz by entering your name and tapping 'Start!'.
                                        You must then start choosing an answer for the questions provided.
                                        You may even consider changing the question by tapping on the 'change question' button.
                                        After completing all the questions you can choose to share the link to anyone.
                                        </small>
                                    </p>
                                    <p>
                                        <small>(2) The person with your shared link may then use that and start answering the quiz you just created,
                                        finding out how well if he/she knows about you in the end.
                                        </small>
                                    </p>
                                    <p>
                                        <small>(3) Find out who answered your quiz and their score by going to the link you intially created.</small>
                                    </p>
                                </div>
                            </div>
                            <p><button class="btn btn-info btn-append btn-full-width" style="width:100%" data-toggle="collapse" href="#about" role="button" aria-expanded="false" aria-controls="about">About <i class="fa fa-chevron-right"></i></button></p>
                            <div class="collapse" id="about">
                                <div class="card card-body">
                                        <p>
                                            <small>
                                                You may think you know everything about someone, whether it is your partner or your best friend.
                                                But we don't know them completely. Think of this as a friendship quiz. <br>
                                                Make a Quiz, Send it to Your Friends or Post it in your Profile! Ask your friends "how well do you know me?"
                                                and find out who knows you best.<br>
                                                Choose a range of questions to even help you with your relationships and transform this online quiz maker into a dating quiz.
                                                Does my partner really know me? Quiz your friends and find out!
                                                These love tests and personality quizzes help you with your love and relationship issues.<br>
                                                IMQUIZ helps identify solutions to social problems by creating tools and activities that open up a world of possibilities.
                                                Quiz your friends now!<br><br>

                                                Feel free to reach me out <i>xromp024@gmail.com</i>
                                            </small>
                                        </p>
                                </div>
                            </div>
                            <p><button class="btn btn-primary btn-append btn-full-width" style="width:100%" data-toggle="collapse" href="#termsOfService" role="button" aria-expanded="false" aria-controls="termsOfService">Terms of Service <i class="fa fa-chevron-right"></i></button></p>
                            <div class="collapse" id="termsOfService">
                                <div class="card card-body">
                                        <p>
                                            <small>
                                                By accessing the website at <a href="/tos">{{lc.domain}}tos</a>, you are agreeing to be bound by these TOS.
                                            </small>
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-12">
              <span class="dot" ng-repeat="score in lc.quesser"><br><strong class="text-success">{{score.score}}%</strong><br><small>{{score.name}}</small></span>
          </div>
          <div class="col-md-12">
            <div class="sharethis-inline-share-buttons"></div>
        </div>
        <!-- <a href="https://api.whatsapp.com/send?phone=whatsappphonenumber&text=urlencodedtext">send</a> -->
        <div id="share-whatsapp"></div>
        </div>

    </div>
    <div class="row">

    </div>
    <div class="main">
      <div class="section section-dark text-center landing-section">
          <div class="container">
              <h2>Featured Quizzes</h2>
              <div class="col-md-4" ng-repeat="quiz in lc.definedQuiz">
                  <div class="team-player">
                      <a href="#" ><img src="{{quiz.imageUrl}}" alt="Thumbnail Image" class="img-circle img-responsive" style="height: 120px;width: 120px;" ng-click="lc.showDefineQuiz(quiz)"></a>
                      <h5 ng-bind="quiz.title"></h5>
                      <p ng-bind="quiz.description"></p>
                  </div>
              </div>
          </div>
      </div>
    </div>

</div>


    <!-- <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <input class="form-control" placeholder="Name" ng-model="lc.form.name">
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <input class="form-control" placeholder="Email" ng-model="lc.form.email">
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..." ng-model="lc.form.message"></textarea>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button class="btn btn-danger btn-block btn-lg btn-fill" ng-click="lc.sendMail(lc.form)">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="container"></div>
    </div> -->
